---
layout: default
---

<div class='o-wrapper'>
  <div class='o-grid js-grid'>
    {% for post in paginator.posts %}
      {% include post-card.html %}
    {% endfor %}
  </div>

  <div class='o-grid'>
    {% include pagination.html %}
  </div>
  
  <section>
  <h2>Hey, I&rsquo;m ___.</h2>
  <article>
    <p>There are a surprising number of folks who go by the same name. Their friends email me constantly.</p>
    <p>I wrote my first bit of HTML in a Notepad window sometime in 1998 and never stopped.</p>
    <p>Through a combination of genetics and general curiosity, I constantly tinker. Online or offline, I enjoy taking things apart, learning how they work, and (hopefully) putting them back together.</p>
    <p>This is my website. Take a peek under the hood over on <a rel="me" href="https://github.com/yrepik/yrepik.github.io">GitHub</a>.</p>
  </article>
  <aside>
    <picture>
      <source media="(max-width: 48em)" srcset="/img/iceland-640.jpg">
      <source media="(min-width: 48em)" srcset="/img/iceland-320.jpg">
      <img src="/img/jason-iceland-320.jpg" alt="Jason in Iceland">
    </picture>
    <p class="caption">Waterfall pitstop off of Route 1 in Iceland</p>
  </aside>
</section>
  
</div>
